[tool.poetry]
name = "pg-docker"
version = "0.9.0"
description = ""
authors = ["Your Name <you@example.com>"]
readme = "README.md"
packages = [{include = "pg_docker"}]
classifiers = [
    "Framework :: Pytest"
]


[tool.poetry.dependencies]
python = "^3.9"
psycopg2 = "^2.9"


[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
black = "^22.10.0"
isort = "^5.10.1"
mypy = "^0.991"
types-psycopg2 = "^2.9.21.2"


[tool.poetry.plugins."pytest11"]
"pg_docker" = "pg_docker._plugin"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
