
@import "variables";
@import "../myams/nav";


#left-panel {
    nav {
        ul {
            li {
                &.header {
                    padding: 8px 10px 8px 15px;
                    border-top: 2px solid #bbb;

                    &:empty {
                        border-top: 0;
                    }
                }

                a {
                    padding: 12px 10px 12px 12px;
                }
            }

            ul {
                li {
                    > a.active {
                        margin-top: 2px;
                        margin-bottom: 2px;
                        padding-top: 4px;
                        padding-bottom: 4px;
                        border-radius: 6px 0 0 6px;
                    }
                }
            }
        }

        > ul {
            > li {
                > a.active {
                    margin: 6px 0 6px 6px;
                    padding: 6px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                > ul::before {
                    bottom: 1rem;
                }

                > ul > li > a,
                > ul > li > ul > li > a {
                    padding-top: 6px;
                    padding-bottom: 6px;
                }
            }
        }
    }
}

.minified {
    #left-panel {
        nav {
            ul {
                li {
                    > a.active {
                        margin-top: 2px;
                        margin-bottom: 2px;
                    }
                }

                ul {
                    li {
                        > a.active {
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
                }

                &.active {
                    > li {
                        > a.open.active {
                            background-color: $nav-sub-menu-active-bg;
                        }
                    }
                }
            }

            > ul {
                > li {
                    > a {
                        padding: 10px 11px;

                        > .menu-item-parent {
                            top: 0;
                        }
                    }

                    > a.active {
                        margin: 5px 0 5px 5px;
                        padding: 5px 6px;
                    }

                    &.active {
                        > a.open {
                            margin: 5px 0 5px 5px;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                            padding: 5px 6px;
                            background-color: $nav-sub-menu-active-bg;

                            > .menu-item-parent {
                                top: -5px;
                                left: 35px;
                            }
                        }
                    }
                    &.active + li.header {
                        margin-top: 15px;
                    }

                    > ul {
                        top: 36px;
                    }

                    &.active {
                        > ul {
                            top: 31px;
                        }
                    }
                }
            }
        }
    }
}
